# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment variable files (keep secrets safe)
.env
venv/


# Ignore IDE/editor configurations
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
